@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
 <thead>
 <tr>
 <th>
 @Html.DisplayNameFor(model => model.Book[0].Title)
 </th>
 <th>
 @Html.DisplayNameFor(model => model.Book[0].Author)
 </th>
 <th>
 @Html.DisplayNameFor(model => model.Book[0].Price)
 </th>
 <th>
 @Html.DisplayNameFor(model => model.Book[0].PublishingDate)
 </th>
…
@foreach (var item in Model.Book) {
 <tr>
 <td>
 @Html.DisplayFor(modelItem => item.Title)
 </td>
 <td>
 @Html.DisplayFor(modelItem => item.Author)
 </td>
 <td>
 @Html.DisplayFor(modelItem => item.Price)
 </td>
 <td>
 @Html.DisplayFor(modelItem => item.PublishingDate)
 </td>